@import 'varijable.scss';
@import 'fontovi.scss';

* {
    box-sizing: border-box;
    font-family: 'Myriad Pro';
}
body {
    margin: 0px;
}
body.ventingMobNavigacija {
    .sadrzaj, .vh {
        -webkit-transform: translateX(-274px);
        transform: translateX(-274px);
    }
    .vnavmobsadrzaj {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.25);
        box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.25);
    }
}
a {
    color: white;
    text-decoration: none;
    &:hover {
        color: white;
    text-decoration: none;

    }
}

h1 {
    font-size: 2em;  
}
h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .67em;
}
#venting {
    width: 100%;
    height: 100%;
}
.vnavmobsadrzaj {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(275px);
    transform: translateX(275px);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
    display: block;
    height: 100%;
    right: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 275px;
    z-index: 200;
    background: $siva-gradijent;
    padding: .75em 1.25em;
    .mobLinkovi {
    a {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 1.2em;
        height: 40px;
        margin-bottom: 5px;
        padding-top: 5px;
        border-bottom: 2px solid rgba(0,0,0,0.15);
        &:hover {
            background: $crvena-gradijent;
        }
    }
    a.odabrano {
        background: $crvena-gradijent;
    }}
    svg {
        fill: white;
        display: block;
        margin:auto;
        width: 80%;
        margin-bottom: 30px;
    }
}
.HeaderBlanko {
    width: 100%;
    position: fixed;
    top: 0;
    height: 40px;
    background: $siva-gradijent;
}
.vh.skroll {
    background: $siva-gradijent;
    -webkit-box-shadow: 0px 10px 5px -4px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 10px 5px -4px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 5px -4px rgba(0,0,0,0.15);
    transition: all ease 1.3s;
}
.vh {
    width: 100%;
    position: fixed;
    top: 0;
    background: transparent;
    z-index: 300;
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
    .vhs {
        position: relative;
    p {
        margin: 0;
    }
    margin: auto;
    height: 40px;
    overflow: hidden;
    width:$large;
    
    
    .plogo {
        display: inline-block;
        vertical-align: middle;
        background: $crvena-gradijent;
        width: 200px;
        height: 40px;
        clip-path: polygon(0 0, 100% 0%, 87% 100%, 0% 100%);
        svg {
            fill: white;
            width: 80%;
            margin: 10px 10px;
        }
    }
    .navigacija {
        
        height: 40px;
        display: inline-block;
        vertical-align: middle;
        float: right;
        a {
            display: inline-block;
            width: 140px;
            height: 40px;
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: .9em;
            text-align: center;
            &:hover {
                background: $crvena-gradijent;
                clip-path: polygon(20% 0, 100% 0%, 80% 100%, 0% 100%);
                font-weight: 400;
                transition: all .3s;
            }
        }
        a.odabrano {
            background: $crvena-gradijent;
                clip-path: polygon(20% 0, 100% 0%, 80% 100%, 0% 100%);
                font-weight: 400;
                transition: all .3s;
        }
    }
    .navigacijaMob {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        button {
            background: transparent;
            border: 0;
            padding: 0;
            width: 40px;
            height: 40px;
            &:hover {
                cursor: pointer;
                background: $crvena-gradijent;
            }
            &:focus{
                outline: 0;
            }
            svg {
                background: transparent;
                fill: white;
                width: 25px;
            }
        }
        button.odabrano {
            cursor: pointer;
                background: $crvena-gradijent;
        }
        
    }
}
}
.pocetna {
    height: 500px;
    width: 100%;
    background: $siva-gradijent;
    padding-top: 60px;
    .slajder {
        .carousel {
            .carousel-item {
                height: 450px;
                .slajd {
                    position: relative;
                    width:$large;
                    margin: auto;
                    height: 100%;
                    overflow: hidden;
                    .slajd-tekst-poz, .slajd-tekst {
                        position: absolute;
                        height: 400px;
                        max-height: 400px;
                        width:40%;
                        overflow: hidden;
                        border-top-right-radius: 200px;
                        border-bottom-right-radius: 200px;
                        background: $crvena-gradijent;
                    }
                    .slajd-tekst-poz {
                        left: -130px;
                        opacity: 0.5;
                        z-index: 4;
                        background: $crvena-gradijent;
                    }
                    .slajd-tekst {
                        left: -150px;
                        z-index: 5;
                        .sadrzaj {
                            position: absolute;
                            width: 300px;
                            height: 80%;
                            top: 20%;
                            right: 5%;
                            img {
                                width: 300px;
                                
                            }
                            h2, h4 {
                                margin-left: auto;
                                margin-right: 50px;
                                margin-top: -20px;
                                margin-bottom: 20px;
                                width: 200px;
                                color: white;
                                text-align: left;
                            }
                            h2 {
                                font-weight: bold;
                            }
                        }
                        
                       
                    }
                    .slajd-slika {
                        position: relative;
                        width:100%;
                        height: 400px;
                        img {
                            width: 100%;
                            position: relative;
                            height: 100%;
                        }
                    }
                }
            }
        }
    .carousel-control-prev, .carousel-control-next { 
        z-index: 10;
    
    }}
}

.sadrzaj {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
    
    .vf {
        margin-top: 50px;
        position: relative;
        width: 100%;
        background: $siva-gradijent2;
        .vfs {
        margin: auto;
        overflow: hidden;
        width:$large;
        p {
            font-size: 1em;
            color: white;
            padding: 3px;
            margin: 0;
            margin-bottom: 7px;
        }
        a {
            background: $crvena-gradijent;
            clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
            border-bottom: 1px solid $crvenatabela;
            padding: 3px;
            padding-left: 15px;
            padding-right: 15px;
            transition: all .3s;
            margin-right: 2px;
            display: inline-block;
            &:hover {
                border-bottom:1px solid white;
                
                transition: all .3s;
            }
        }
        .vf-kontakt {
            border-bottom: 1px solid $crvenatabela;
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: center;
        }
        .vf-informacije {
            
            position: relative;
            p {
            display: inline-block;
            width: 50%;
            text-align: right;
                svg {
                    fill: white;
                    width: 90px;
                    margin:  0 5px;
                }
                a {
                    background: none;
                    border: none;
                    margin: 0;
                    padding: 4px;
                    svg {
                        
                        width: 21px;
                        vertical-align: middle;
                        margin: 0;
                        margin-top: -5px;
                    }
                    &:hover {
                        svg {
                            cursor: pointer;
                            fill: $crvenatabela;
                        }
                    }
                }
            }
            .linkovi {
            display: inline-block;
            width: 50%;
            color: white;
            a {
                background: transparent;
                border: transparent;
                &:hover {
                    background: $crvena-gradijent;
                }
                &:nth-child(1) {
                    clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
                }
                &:nth-child(2) {
                    clip-path: polygon(7% 0, 100% 0%, 93% 100%, 0% 100%);
                }
                &:nth-child(3) {
                    clip-path: polygon(9% 0, 100% 0%, 91% 100%, 0% 100%);
                }
            }
            }
        }
        }
    }
    .proizvodi {
        padding-top: 80px;
        position: relative;
        width:$large;
        margin: auto;
        
        .katfilter {
            margin-bottom: 10px;
            width: 100%;
            display: flex;
            a {
                width: 12.5%;
                text-align: center;
                border-radius: 10px;
                margin: 3px;
                p {
                    width: 70%;
                    margin: auto;
                    height: 50px;
                    color: $sivatabelatam;
                    font-size: 1em;
                }
                svg {
                    width: 55%;
                    display: block;
                    margin: auto;
                    fill: $sivatabelatam;
                }
                &:hover {
                    cursor: pointer;
                    background:$crvena-gradijent;
                    color: white;
                    p {
                        color:white;
                    }
                    svg {
                        fill: white;
                    }
                }
            }
            a.odabrano {
                background:$crvena-gradijent;
                color: white;
                p {
                    color:white;
                }
                svg {
                    fill: white;
                }
            }
            div {
                width: 12.5%;
                text-align: center;
                border-radius: 10px;
                margin: 3px;
                font-size: 1em;
                p {
                    width: 70%;
                    margin: auto;
                    height: 50px;
                    color: $sivatabelatam;
                    font-size: 1em;
                    font-weight: normal;

                }
                svg {
                    width: 55%;
                    display: block;
                    margin: auto;
                    fill: $sivatabelatam;
                }
                
                &:hover {
                    cursor: pointer;
                    background:$crvena-gradijent;
                    color: white;
                    p {color:white}
                    svg {
                        fill: white;
                    }
                }
            }
            div.odabrano {
                background:$crvena-gradijent;
                color: white;
                p {
                    color:white;
                }
                svg {
                    fill: white;
                }
            }
            
        }
        .katfilterMob {
            position: fixed;
            top: 100px;
            right: 0;
            display: none;
            margin: auto;
            margin-bottom: 10px;
            width: 50px;
            z-index: 100;
            div {
                display: block;
                width: 100%;
                text-align: center;
                border-radius: 10px;
                margin: 3px;
                background: $siva-gradijent;
                svg {
                    width: 100%;
                    display: block;
                    margin: auto;
                    fill: white;
                }
                &:hover {
                    cursor: pointer;
                    background: $crvena-gradijent;
                }
            }
            div.odabrano {
                background:$crvena-gradijent;
                color: white;
                svg {
                    fill: white;
                }
            }
              
        }
        .odabirKatMob {
            display: block;
            z-index: 300;
            background: $siva-gradijent;
            position: fixed;
            top: 0;
            width: 100%;
            height: 100vh;
            overflow-y: hidden;
            button {
                background: $crvena-gradijent;
                border: 0;
                padding: 0;
                width: 40px;
                height: 40px;
                color:white;
                font-size: 1.5em;
                border-radius: 100px;
                margin: auto;
                margin-top: 10px;
                margin-bottom: 10px;
                display: block;
                &:hover {
                    cursor: pointer;
                }
                &:focus{
                    outline: 0;
                }
                
            }
            .centar {
                width: 95%;
                margin: auto;
            a {
                display: inline-block;
                width: 25%;
                text-align: center;
                border-radius: 10px;
                padding:5px;
                vertical-align: top;
                .box {
                    background: $siva-gradijent;
                    border-radius: 10px;
                p {
                    width: 90%;
                    margin: auto;
                    height: 50px;
                    color: white;
                    font-size: .9em;
                    padding-top: 7px;
                    height: 50px;
                    vertical-align: middle;
                }
                svg {
                    width: 80%;
                    display: block;
                    margin: auto;
                    fill: white;
                }
                }
                &:hover {
                    cursor: pointer;
                }
            }
            a.odabrano {
                .box {
                    background: $crvena-gradijent;
                }
            }
            
            }
        }
        .vpretraga {
            width: 100%;
            margin-bottom: 10px;
            input {
                width: 100%;
                text-align: center;
                font-size: 2em;
                border: 0;
                color: $sivatabelatam;
                border-bottom: 2px solid $sivatabelatam;
                &:focus {
                    outline: 0;
                    border-bottom-color: $crvenatabela;
                }
            }
        }
        .proizvod {
            display: inline-block;
            width: 25%;
            padding: 20px;
            
            .sadrzajproizvoda {
                border: 1px solid rgba(0,0,0,0);
                position: relative;
                &:hover {
                    border: 1px solid rgba(0,0,0,0.1);
                    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.28);
                    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.28);
                    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.28);
                }
                .naziv {
                    background: $crvena-gradijent;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 90%;
                    height: 20px;
                    padding-left: 10px;
                    color: white;
                    clip-path: polygon(0 0, 100% 0%, 94% 100%, 0% 100%);
                }
                .slikaproizvoda {
                    
                    background-repeat: no-repeat!important;
                    background-size: cover!important;
                    height: 150px;
                }
                .detaljnije {
                    width: 100%;
                    background: $siva-gradijent;
                    text-align: center;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    a {
                        display: block;
                        width: 100%;
                    }
                    &:hover {
                        
                        background: $crvena-gradijent;
                    }
                }
            }
            
        }
        .paginacija {
            height: 30px;
            width: auto;
            background: $siva-gradijent;
            
            .centrirano {
                display: block;
                margin: auto;
                text-align: center;
            
            .pag-str {
                display: inline-block;
                width: 40px;
                vertical-align: middle;
                text-align: center;
                clip-path: polygon(0 0, 100% 0%, 94% 100%, 0% 100%);
                button {
                    text-align: center;
                    color: white;
                    background: transparent;
                    border: 0;
                    font-size: 1em;
                    font-family: 'Myriad Pro';
                    height: 30px;
                    
                    &:focus {
                        outline: none;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                   
                }
                
                &:hover {
                    clip-path: polygon(30% 0, 100% 0%, 70% 100%, 0% 100%);  
                    background: $crvena-gradijent;
                    cursor: pointer;
                }
            }
            .aktivnopag {
                clip-path: polygon(30% 0, 100% 0%, 70% 100%, 0% 100%);  
                background: $crvena-gradijent;
                cursor: pointer;
            }
        }
        }
    }
    .uredjaj {
        
        width: $large;
        margin: auto;
        padding-top: 200px;
        .ikone {
            width: 100%;
            .ikonica {
                position: relative;
                display: inline-block;
                .tekstikonice {
                    visibility: hidden;
                    width: 120px;
                    background-color: #555;
                    color: #fff;
                    text-align: center;
                    padding: 5px 5px;
                    border-radius: 6px;
                    position: absolute;
                    z-index: 1;
                    bottom: 97%;
                    left: 50%;
                    margin-left: -60px;
                    opacity: 0;
                    transition: opacity 0.3s;
                    &:after {
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        margin-left: -5px;
                        border-width: 5px;
                        border-style: solid;
                        border-color: #555 transparent transparent transparent;
                    }
                }
                &:hover {
                    cursor: help;
                    .tekstikonice {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                img {
                    width: 50px;
                    margin: 5px;
                }
            }
            
        }
        .tabela {
            width: 100%;
            table {
                width: 100%;
                empty-cells: show;
                border-spacing: 0;
                tr {
                    height: 20px;
                    display: table-row;
                    width: 100%;
                    max-width: $large;
                    background-color: white;
                    
                    td {
                        border: solid 2px white;
                        border-top-width: 0;
                        padding: 2px;
                        &:nth-last-child(1) {
                            width: 70%;
                            text-align: center;
                            border-left-width: 0;
                            border-right-width: 0;
                        }
                    }
                    &:nth-child(even) {
                        border-top-color: $sivatabela!important;
                        background-color: $sivatabela;
                    }
                }
                tr.crvena {
                    border-color: $crvenatabela;
                    background-color: $crvenatabela;
                    td {
                        border-color: $crvenatabela;
                    }
                }
                tr.naslov {
                    background-color: white;
                    border-bottom-color: $crvenatabela;
                    td {
                        border-left-width: 0px;
                        border-right-width: 0px;
                        border-top-color: $crvenatabela;
                        border-bottom-color: $crvenatabela;
                    }
                }
                td.tamna {
                    background-color: $sivatabelatam;
                    color: white;
                    border-color: $sivatabelatam;
                    border-right-width: 0;
                    border-left-width: 0;
                    text-align: center;
                }
                td.donjiBorder {
                    border-bottom: 2px solid white;
                }
                td.duz15 {
                    width:15%
                }
                td.duz10 {
                    width: 10%
                }
                td.duz5 {
                    width: 5%;
                }
                td.levo5 {
                    text-align: left;
                    padding-left: 5px;
                }
                td.poslednja {
                    border-bottom-color: $crvenatabela;
                }
            }
        }
    }
}



